@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

nav .main-logo {
    font-family: "Roboto", sans-serif ;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
  }

  .logo-rewire-gradient {
    background: linear-gradient(to bottom, #808080, #000000);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* For Safari */
    color: transparent;
}

.logo-21-gradient {
    background: linear-gradient(to bottom, #ffabab, #f43f36);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* For Safari */
    color: transparent;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
      }
      25% {
        background-position: 50% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      75% {
        background-position: 50% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
  }
  
  .welcome-text-gradient {
    background: linear-gradient(to right, #2C7EFF, #9244ff, #2cb5ff);
    background-size: 200% 200%;
    animation: gradientAnimation 3s linear infinite;
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* For Safari */
    color: transparent;
  }

  .dotted-background {
    background: radial-gradient(circle, rgb(209, 209, 209) 1px, transparent 1px);
    background-size: 2.5rem 2.5rem; /* Adjust the size to control the gap */
    background-position: 0px -1rem;
  }

  .feature-card{
    width: 22rem;
    height: 24rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
  }

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

  .website-heading{
    width: 90vw;
    font-size: 1.6rem;
  }
  .website-sub-heading{
    width: 90vw;
    font-size: .9rem;
  }

  /* CSS rules for extra small devices */
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* CSS rules for small devices */
  .website-heading{
    width: 90vw;
    font-size: 1.6rem;
  }
  .website-sub-heading{
    width: 80vw;
    font-size: .9rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* CSS rules for medium devices */
  .website-heading{
    width: 90vw;
    font-size: 2rem;
  }
  .website-sub-heading{
    width: 70vw;
    font-size: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS rules for large devices */
  .website-heading{
    width: 90vw;
    font-size: 2.5rem;
  }
  .website-sub-heading{
    width: 60vw;
    font-size: 1rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* CSS rules for extra large devices */
  .website-heading{
    width: 90vw;
    font-size: 2.5rem;
  }
  .website-sub-heading{
    width: 50vw;
    font-size: 1rem;
  }

}
